 //Footer fixerad i botten
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-color: #3F51B5;
    border-width: 2px 0 0 0;
    border-style: solid;
    text-align: center;
    height: 150px;
  }

  footer {
    font-weight: 500;
}

footer p {
  display: inline-block;
}

footer a{
  margin-left: 10px;
}

.icons{
  position: relative;
  top: 5px;
  width: 20px;
  margin-right: 5px;
  margin-left: 25px;
}

//Bakgrund till footer
#background{
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
  url("/assets/images/testhero.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}