<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="courseCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kod </th>
      <td mat-cell *matCellDef="let row"> {{row.courseCode}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kursnamn </th>
      <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Poäng </th>
      <td mat-cell *matCellDef="let row"> {{row.points}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ämne </th>
      <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
    </ng-container>

    <ng-container matColumnDef="syllabus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kursplan </th>
      <td mat-cell *matCellDef="let row"> {{row.syllabus}} </td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef> Lägg till </th>
      <td mat-cell *matCellDef="let row"><button title="{{row.courseCode}}">Lägg till</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>