<h2>Välkommen</h2>
<p>start-page works!</p>
<img src="/assets/images/library.jpg" class="img" alt="Bibliotek men stora fönster och vy över en skog.">
<img src="/assets/images/library2.jpg" class="img" alt="Bibliotek men stora fönster och vy över en skog."> 
<img src="/assets/images/paper.jpg" class="img" alt="En hög med tidsskriver och vetenskap.">
<img src="/assets/images/outside.jpg" class="img" alt="Högskolan omgiven av skog."> 
<img src="/assets/images/research.jpg" class="img" alt="Bibliotek men stora fönster och vy över en skog.">