<div id="hero">
    <img src="/assets/images/outside1200.jpg" alt="Högskolan omgiven av skog." id="hero-img">
    <div class="tinted-background">
        <h2 id="h2-tinted">Pluggsugen?</h2>
        <button routerLink="/courses">Våra kurser</button>
    </div>
</div>

<article class="article-container">
    <img src="/assets/images/research.jpg" class="img" alt="Bibliotek men stora fönster och vy över en skog.">
    <div class="article-text">
        <h2>Forskning</h2>
        <p>
            Efter studierna finns det stora möjligheter till att doktorera och forska vidare på högskolan.
        </p>
    </div>
</article>

<article class="article-container">
    <img src="/assets/images/library.jpg" class="img" alt="Bibliotek men stora fönster och vy över en skog.">
    <div class="article-text">
        <h2>Natur</h2>
        <p>Höga Kusten-Högskolan erbjuder moderna lokaler. Våran högskola är belägen i skogen nära havet i hjärtat av
            höga kusten. Vi erbjuder bra utbildningar i en fridfull miljö.</p>
    </div>
</article>

<article class="article-container">
    <img src="/assets/images/mtb.jpg" class="img" alt="Rekreationssporten mountain biking.">
    <div class="article-text">
        <h2>Campus</h2>
        <p>På Campus finns stora möjligheter till rekreationssporter ute i naturen. Det finns också flera olika typer
            grupplokaler och sammarbetsytor. Vi har närhet till mataffär och reseförbindelser.</p>
    </div>
</article>

<article class="article-container">
    <img src="/assets/images/students.jpg" class="img" alt="Studenter som är med i studentkåren.">
    <div class="article-text">
        <h2>Studentkåren</h2>
        <p>Studentkåren hjälper till att inkludera alla till skolans gemenskap med roliga sammankomster och aktiviteter.
            Det
            finns också stora möjligheter till studiehjälp.</p>
    </div>
</article>