table {
  width: 100%;
}

.mat-form-field {
  display: inline-block;
  width: 300px;
  margin: 20px;
}

button {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(178, 178, 178);
  border-width: 1.1px;
  font-weight: 500;
  font-size: 0.9em;
  padding: 5px;
}

button:hover {
  border-color: black;
}

button:active {
  background-color: rgb(199, 199, 199);
}

#totalPoints {
  position: relative;
  top: -35px;
  text-align: left;
  left: 20px;
  font-weight: 500;
}

.none{
}
#test-short{
  max-width: 30px;
  width: 30px;
}

option {
  width: 250px;
}

@media screen and (max-width: 700px) {
  #totalPoints {
    position: relative;
    top: 10px;
    text-align: center;
    left: 0px;

  }
}